<%- include extend/header_device.ejs %>

	<table id="table1"  class="display" cellspacing="0" width="100%">
		<thead>
            <tr style="color:#428bca">
	            <th>Item</th>
	            <th>Receive time</th>
	            <th>Data</th>
				<th>土壤溫度</th>
	            <th>土壤飽水度</th>
	            <th>CO2</th>
	            <th>日照度</th>
				<th>電池量</th>
            </tr>
        </thead>
        <% if(devices != null && devices.length >0){ %>

		<tbody>

			<% for(var i=0;i<length ;i++){ %>
				<tr>
					<td><%= i+1%></td>
					<td><%= devices[i].date%></td>
					<td><%= devices[i].data%></td>

					<% if(devices[i].info){ %>
						<td><%= devices[i].info.soil_temperature %></td>
						<td><%= devices[i].info.soil_water %></td>
						<td><%= devices[i].info.co2 %></td>
						<td><%= devices[i].info.lux %></td>
						<td><%= devices[i].info.voltage %></td>
					<% } %>
	            </tr>
	        <% } %>
		</tbody>

	<% } %>
	</table>
	<input type="hidden" id="mac" name="mac" value="<%= mac%>">
	<input type="hidden" id="type" name="type" value="<%= type%>">
	<input type="hidden" id="date" name="date" value="<%= date%>">
	<input type="hidden" id="option" name="option" value="<%= option%>">

	<HR size="10">
	<div id="chart1" class="col-md-6" style="margin-top: -10px;">

        <h2>&nbsp;</h2>
    </div>
    <div  class="col-md-6" >

        <input type ="button" onclick="javascript:location.href='#wrapper'" value="Table"></input>
    </div>
    <br>
    <!-- Hide chart
	<div id="PH" style="padding:10px">
      <div id="chartPH"></div>
      </div>

      <div id="DO" style="padding:10px">
        <div id="chartDO"></div>
      </div>

      <div id="COND" style="padding:10px">
        <div id="chartCOND"></div>
      </div>

      <div id="Temperature" style="padding:10px">
        <div id="chartTmp"></div>
      </div>

      <div id="NTU" style="padding:10px">
        <div id="chartNTU" ></div>
      </div>

      <div id="Voltage" style="padding:10px">
        <div id="chartVol"></div>
      </div>
    </div>-->
<%- include extend/footer %>